/* --- Imports --- */
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Raleway:wght@300&display=swap');


body {
  margin: 0;
  background: #607D8B;
}

/* --- Fonts --- */

.card-info h1{
  font-family: 'Anonymous Pro', monospace;
  font-weight: 400;
  font-size: 52.4pt;
  color: #FF8882;
}

.card-info h2{
  font-family: 'Raleway', sans-serif;
  font-size: 17pt;
  font-weight: bold;
} 

/* --- Utilities --- */
.container{
  width: 21cm;
  padding: 0.5cm;
  margin: 1cm auto;
  min-height: 29.7cm;
  position: relative;
  background-color: #F8F8EF;
}
#avatar{
  padding: 50px;
  width: 250px;
  border-radius: 50%;
  opacity: 0.8;
}

.card-info{
  text-align: center;
}

.card-specs{
  text-align: center;
}

.dashboard {
  padding: 10px;
  margin: 5px;
}

.dashboard:after {
  content: "";
  display: table;
  clear: both;
}

.dashboard-left {
  float: left;
  width: 49%;
  max-height: 15cm;
  min-height: 13cm;
  text-align: justify;
}

.dashboard-right {
  float: right;
  width: 49%;
  max-height: 15cm;
  min-height: 13cm;
  text-align: justify;
}

.card-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0px;
  margin: 0px;
  background-color: #FF8882;
}

a {
  color: #EFDAC2;
}

a:visited {
  color: #03674F;
}

/* --- List inline --- */
.footer-inline li{
  list-style: none;
  display: inline-block;
  padding-inline-end: 80px;
  margin: 0;
  font-size: 18pt;
  justify-content: ;
}
